@tailwind base;
@tailwind components;
@tailwind utilities;


/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

.ant-table-thead{
    position: sticky;
    top: 0;
    z-index: 10;
}

.ant-table-pagination{
  border-top: 1px solid #e5e7eb !important;
  position: sticky !important;
  bottom: 0 !important;
  background: floralwhite !important;
  padding: 5px !important;
  align-items: flex-start !important;
  padding-right: 150px !important;

}

.ant-table-footer{
  position: sticky !important;
  bottom: 42.8px !important;
  background: transparent !important;
}

